#face{
    height: 300px;
    width: 300px;
    background-color: orange;
    border-radius: 50%;
}

.eyes{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 50px;
    display: inline-block;
    margin-right: 70px;
    
}

#mouth{
    height: 60px;
    width: 150px;
    background-color: brown;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40% ;
    position: relative;
    top: 110px;
    left: 70px;
}